@import '../../styles/variables';

.header__MenuLink {
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  background: $regularButtonBackground;
  color: #FFFF;
  font-size: 16px;
  box-shadow: 0 1px 4px 1px rgba(255, 255, 255, 0.2);
}