@import '../../styles/variables';

.aside_titleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, $regularRedColor 20px, $logoBlueColor 20px);
  @include columnMenuTitleDecoration;
  color: #ffff;

}
